sml_eval/data
.ipynb_checkpoints/
dist/
encoding/datasets/.ipynb_checkpoints/
encoding/lib/cpu/.ipynb_checkpoints/
encoding/models/.ipynb_checkpoints/
encoding/nn/.ipynb_checkpoints/
encoding/transforms/.ipynb_checkpoints/
experiments/recognition/.ipynb_checkpoints/
torch_encoding.egg-info/

*.DS_Store
*.swp
*.pyc
version.py
build/
data/
docs/src/
docs/html/
encoding/_ext/
encoding.egg-info/
*.o
*.so
*.ninja*
